<h1>Updated from Chef run:</h1>

<h3>app1/config Values</h3>
<% @config.each do |k,v| %>
  <b><%=k%>:</b> <%=v%>
<% end %>

<h3>app1/secret1 Value</h3>
<% @secret1.each do |k,v| %>
  <b><%=k%>:</b> <%=v%>
<% end %>
